body {
  height: 150vh;
}
#carrer {
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid black;
  background: red;
  margin-bottom: 200px;
}
div:nth-child(2n) {
  
}
h2 {
    font-size: 50px;
  color: green;
}

#bounce2{
  border: 1px solid;
}